__pycache__
venv
i_frames
videos
db
playground.ipynb
test
test.jpg
test2.jpg
test3.jpg
test.py
.idea
LOCK_FILE_RECORD.MD
result_wordcloud
result_timeline
result_lightbox
cache
config/config_user.json
.vscode/settings.json
test.png
env
random_lexicon
logs
userdata
